:root{
    --cor-fundo-destaque: rgb(184, 98, 1);
    --cor-frente-destaque: #fff;
    --espacamento-padrao: 0.5rem;
    --fonte-family-padrao: Arial, Helvetica, sans-serif;
}

h1 {
    color: var(--cor-frente-destaque);
    font-family: var(--fonte-family-padrao);
    background-color: var(--cor-fundo-destaque);
    padding: var(--espacamento-padrao);
    font-size: 1.5rem;
}

ul {
    padding-left: 1rem;
    list-style-type: none;
}
ul li{
    font-family:var(--fonte-family-padrao); 
}
article {
    border: 2px solid var(--cor-fundo-destaque)
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
article section {
    width: 270px;
    border: 1px solid rgb(202, 41, 1);
    box-sizing: border-box;
    padding: var(--espacamento-padrao);
    margin-bottom: 1rem;
    border: 2px solid var(--cor-fundo-destaque);
    padding: var(--espacamento-padrao);
}
article section h2 {
    color:var(--cor-frente-destaque);
    font-family: var(--fonte-family-padrao);
    background-color:var(--cor-fundo-destaque);
    padding: var(--espacamento-padrao);
    font-size: 1.5rem;
    margin-top: 0;
}
article section p {
    font-family: var(--fonte-family-padrao);
}

footer p a {
    display: inline-block;
    padding: var(--espacamento-padrao);
    background-color: rgb(17, 71, 1);
    color:var(--cor-frente-destaque);
    text-decoration:none;
    border-radius: 0.5rem;
    box-shadow: #999 4px 2px 4px 0px;
}
@media only screen and (min-width: 768px){
    article { 
        display: flex;
        flex-direction: row;
    }
    article section{
       width: 48vw; 
    }
}