h1{
    background-color: springgreen;
    color:red;
    text-align: center;
}
/*
p{
    color:red;
    width: 500px;
    border: 1px solid red;
}
*/
body{
 font-family: cursive;
 
}
div{
border: 15px outset;
   text-align: center;
  
}
#col{
    column-count: 2; 
}
article{
    display:block;
}
p, li, h1 {
    color: rgb(21, 18, 230);
}
a{
    color: darkorange;
}
header{
    background-color: darkorchid;
}
em{
    display: block;
    border: 1px solid red;
    }